/* common classes */
.hide{
    display:none;
}
/*common classes end*/
.jimg{
    display: inline-block;
    overflow: hidden;
    border: 1px solid white; 
    margin:1rem 0;
    border-radius:1rem;
    cursor: pointer;
    position: relative;
    transition:all 0.5s;
}
.img-overlay{
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,black,transparent);
    position:absolute;
    bottom: 0;
    visibility: hidden;
    transition:0.5s;
}
.icons{
    position:absolute;
    bottom:0;
font-size:2rem;
padding:1rem;
display:flex;
justify-content: space-between;
visibility: hidden;
transition:0.5s all ease-in-out;
}
.icons i{
margin-bottom:1rem;
margin-left: 7rem;
}
.jimg:hover .icons{
    visibility: visible;
    }

    .jimg:hover .img-overlay{
        visibility: visible;
        }
/* comment-section */

.comment-section{

   padding:1rem;
}
.all-comments{

}
.comment-section input{
    margin-right:1rem;
    margin-bottom:1rem;
    width:80%;
    display: inline;
    

}